@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
 
  /* font-size: 6rem ; */
  
  
  font-size: 1.75rem;
}

main{
    flex-grow: 1;
    flex-flow: column nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
}

div {
  border: 1px solid #000;
  width: 200px;
  height: 200px;
  display: grid;
  place-content: center;
}

div:first-child {
  background-color: dodgerblue;
  /* transform: translateX(-50%); */
  /* transform: rotateX(180deg); */
  /* transform: scaleX(120%); */
  /* transform: skew(-10deg); */
}

div:nth-child(2) {
  background-color: yellow;
  /* transform: translateY(-2rem); */
  /* transform: rotateY(180deg); */
  /* transform: scaleY(120%) */
  /* transform: skew(10deg); */
}

div:last-child{
    background-color: limegreen ;
    /* transform: rotateZ(180deg); */
    /* transform: scale(50%,50%); */
    /* transform: skew(-10deg,-10deg); */
}

div:hover {
    background-color: midnightblue;
    /* transition-property: background-color;
    transition-duration: 2s, 3s;
    transition-delay: 0.5s; */

    /* transition-timing-function: linear ; */
    transition: all 2s ease-in-out 0.5s;
}

div:last-child:hover{
    transform: rotate(180deg);
}
.animate{
    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 5;
    animation-direction: normal;
    animation-fill-mode: forwards ;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(300px) rotate(180deg);  
    }
    66%{
       transform: translateX(-300px) rotate(-180deg); 
    }  
    100%{
        transform: translateX(0);
        background-color: rebeccapurple;
    }
    
}