body{
    font-size: 22px; 
}
h1 ,h2 {
    color: darkblue;
}
p{
    color: darkcyan;
}
.gray{
    color: gray;
}
#second {
    font-style: italic;
}

p span {
    text-transform: uppercase;
    background-color: wheat;
}